@import url(../../variables.css);
@import url(../../font-styles.css);

.section{
    margin: 0 1rem;
}

.section-title{
    margin: 1rem 0;
}

.section-content{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}