@import url(../../variables.css);
@import url(../../font-styles.css);

.order-page {
    display: flex;
    min-height: 90vh;
}

.left-sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.order-page .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-foreground-color);
    overflow-y: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 22px;
    margin-bottom: 20px;
}

/* Estilo do ícone de chat */
.chat-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.chat-icon img {
    width: 50%;
}

.chat-text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 8px;
}

/* Estilo da janela de chat */
.chat-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.chat-header h2 {
    font-size: 16px;
}

.close-chat {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.chat-body {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.order-list {
    width: 90%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 10px;
}

.register-button {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-button:hover {
    background-color: var(--medium-blue-hover);
    transform: scale(1.05);
}

.order-forms {
    text-align: start;
    width: 90%;
    max-width: 1200px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--main-color);
}

.fields-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.field-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.order-forms input[type="text"],
.order-forms input[type="date"],
.order-forms select,
.order-forms textarea {
    padding: 0.5rem;
    border: 0.5px solid #d0cfcf;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--background-foreground-color);
    width: 100%;
}

.order-forms textarea {
    resize: none;
}

.order-forms input:focus,
.order-forms select:focus,
.order-forms textarea:focus {
    border-color: var(--foreground-color);
    outline: none;
}

.description-container {
    grid-column: span 2;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.buttons button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button[type="submit"] {
    background-color: var(--foreground-color);
    color: var(--background-main-color);
}

.buttons button[type="submit"]:hover {
    background-color: var(--web-orange-500);
    transform: scale(1.05);
}

.buttons button[type="reset"] {
    background-color: var(--medium-blue);
    color: var(--background-main-color);
}

.buttons button[type="reset"]:hover {
    background-color: var(--medium-blue-hover);
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .order-page {
        flex-direction: column;
    }

    .order-page .main-content{
        width: 100%;
    }

    .left-sidebar {
        width: 100%;
        padding: 10px;
    }

    .register-button {
        width: 100%;
        margin-top: 1rem;
    }

    .fields-group {
        grid-template-columns: 1fr;
    }

    .description-container {
        grid-column: span 1;
    }

    .order-forms {
        width: 100%;
        padding: 1rem;
    }

    .buttons button {
        width: 100%;
        padding: 1rem 0;
    }
}

@media (max-width: 768px) {
    .fields-group {
        grid-template-columns: 1fr;
    }

    .description-container {
        grid-column: span 1;
    }

    .chat-box {
        width: 90%;
        padding: 10px;
    }

    .chat-header h2 {
        font-size: 14px;
    }

    .chat-input {
        font-size: 12px;
    }

    .order-list .order-card {
        width: 100%;
    }

    .order-card img{
        width: 90%;
    }

    .register-button {
        font-size: 0.9rem;
        width: 80%;
    }
}
