@import url(../../variables.css);
@import url(../../font-styles.css);

.upkeep-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background-foreground-color);
  min-height: 90vh;
}

.upkeep-page h1 {
  margin: 2.5rem 0;
  text-align: center;
}

.upkeep-forms {
  width: 90%; /* Reduzido para telas menores */
  max-width: 1200px; /* Máximo para telas maiores */
  margin: 20px auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--main-color);
}

/* Divisão em linhas para os 4 primeiros campos */
.upkeep-forms .pessoal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.upkeep-forms input[type="text"],
.upkeep-forms input[type="email"],
.upkeep-forms input[type="tel"],
.upkeep-forms textarea {
  padding: 0.5rem;
  border: 0.5px solid #d0cfcf;
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--background-foreground-color);
  width: 100%;
}

.upkeep-forms textarea {
  resize: none;
  width: 100%; /* Garantir 100% de largura */
}

/* Estilo dos checkboxes */
.upkeep-forms fieldset {
  margin-bottom: 20px;
  border: none;
}

.upkeep-forms legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--gray);
  background-color: var(--light-blue);
  border-radius: 50px;
  padding: 0.25rem 1.5rem;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 colunas */
  gap: 10px; /* Espaçamento entre os elementos */
}

.upkeep-forms input[type="checkbox"] {
  margin-right: 10px;
}

/* Botões de ação */
.upkeep-page .buttons {
  display: flex;
  flex-wrap: wrap; /* Flexível para telas menores */
  justify-content: flex-end;
  gap: 1rem;
}

.upkeep-page button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upkeep-page button[type="submit"] {
  background-color: var(--foreground-color);
  color: var(--background-main-color);
}

.upkeep-page button[type="submit"]:hover {
  background-color: var(--web-orange-500);
}

.upkeep-page button[type="reset"] {
  background-color: var(--medium-blue);
  color: var(--background-main-color);
}

.upkeep-page button[type="reset"]:hover {
  background-color: var(--medium-blue-hover);
}

@media (max-width: 768px) {
  .upkeep-page h1 {
    font-size: 1rem;
  }
  .upkeep-forms .pessoal {
    grid-template-columns: 1fr;
  }

  .checkbox-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .upkeep-page .buttons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .checkbox-group {
    grid-template-columns: 1fr;
  }

  .upkeep-forms {
    padding: 15px;
  }

  .upkeep-page button {
    font-size: 12px; /* Ajusta tamanho do texto dos botões */
  }
}
.upkeep-forms input[type="text"]:focus,
.upkeep-forms input[type="email"]:focus,
.upkeep-forms input[type="tel"]:focus,
.upkeep-forms textarea:focus {
  border: 1px solid var(--web-orange-500); /* Altere para a cor laranja desejada */
  outline: none; /* Remove o contorno padrão do foco */
}