@import url(../../variables.css);
@import url(../../font-styles.css);

/* Estilo do cartão/botão */
.card-profile {
    padding: 1rem;
    border: 2px solid var(--medium-blue);
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-profile .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.card-profile p{
    text-align: start;
}

.card-profile .span{
    font-size: 1.25rem;
    font-weight: 800;
}

.card-profile img{
    height: 5vh;
    width: 5vh;
}

@media (max-width:1200px) {
    .card-profile .span{
        font-size: 1.5rem;
    }
}