@import url('./font-styles.css');

:root{
    --main-font-family: "Poppins", sans-serif;
    --main-color: #023047;
    --foreground-color: #fb8501;
    --web-orange-500: #FEA519;
    --web-orange-100: #FFF8E6;
    --medium-blue-hover: #219dbcbf;
    --medium-blue: #219ebc;
    --light-blue: #8ecae6;
    --background-main-color: #f6f6f8;
    --background-foreground-color: #eff1f5;
    --background-gradient-bw: -webkit-linear-gradient(270deg, var(--main-color) 20%, white 80%);
    --background-gradient-bb: -webkit-linear-gradient(300deg, var(--main-color) 80%, var(--medium-blue));
    --gray: #252525;
}